html {
    scroll-behavior: smooth;
}
body {
    background-image: url("aset/background.png");
    background-size: cover;
    background-attachment: fixed;   
    font-family: "Montserrat", sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    text-decoration:none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 50px;
    padding-bottom: 10px;
    background-color: #00000025;
} 
.judulh {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-left: 100px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
.judulh:hover {
    opacity: 0.8;
    text-shadow: 0 0 3px;
}
div ul li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 30px;
}
div ul li a:hover {
    background-color: #4444448a;
    text-decoration: underline;
    border-radius: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}
.logo {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    margin-bottom: 0;
    display: block;
}
.logodivisi {
    height: 500px;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 0;
    display: block;
    box-shadow: 0 0 8px #00000060;
}
.logotext {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;
}
.logotextdiv a{
        font-size: 30px;
        color:#000000;
        font-family: "Montserrat", sans-serif;
        border: 2px solid white;
        padding: 20px;
        border-radius: 50px;
        background-color: #ffffff;
}
.logotextdiv {
        margin-top: 5%;
        text-align: center;
}
.logotextdiv a:hover{
        opacity: 0.8;
        font-size: 28px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    background-color: #0c0c0c;
    color: #ffffff;
    padding: 10px;
    position: relative;
    bottom: 0;
}
.icon {
    width: 60px;
    height: 60px;
    margin-left: 150px;
}
.texticon {
    font-size: 21px;
    margin-left: 10px;
    margin-right: 120px;
}
.konten {
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    font-weight: 400;
    color: #000000;
    font-size: large;
    background-color: #ffffff;
    box-shadow: 0 0 10px #ff8ff9;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
.isian {
    display: flex;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    font-size: 24px;
    align-items: center;
}
.isian img {
    max-width: 350px;
    height: auto;
    box-shadow: 0 0px 8px #00000060;
}
.konten .isian img:hover {
    transform: scale(1.1);
    transition: transform .2s;
}
.konten .isianimage img:hover {
    transform: scale(1.1);
    transition: transform .2s;
}
.judulkonten{
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.konten2 {
    text-align: justify;
    background-image: url("aset/background2.png");
    background-size: cover;
    background-attachment: fixed;
    width: 100% 400px;
    padding-top: 11%;
    box-shadow: 0 0 10px #ff8ff9;
    padding-bottom: 11%;
}
.isian2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 100px;
}
.isian2 img {
    max-width: 400px;
    height: auto;
    box-shadow: 0 0px 8px #00000060;
}
.konten2 .isian2 img:hover {
    transform: scale(1.1);
    transition: transform .2s;
}
.judulkonten2 {
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    padding-bottom: 80px;
    color: #ffffff;
}
.apa {    
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;
}
#bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}
.isian3 {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.isian3 img { 
    max-width: 250px ;
}
.isianimage {
    justify-content: center;
    grid-gap: 80px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}
.isianimage img {
    max-width: 300px;
    height: auto;
    width: 100%;
}
a button {
    background-color: rgb(96, 160, 255);
    font-family: "Montserrat", sans-serif;
    border-radius: 10px; 
    padding: 20px 30px 20px;
    align-items: center;
    color: white; 
    font-size: 20px; 
    margin-right: 100px; 
    margin-left: 20px;
    border-style: none;
}
a button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.ex a {
    font-size: 30px;
    color:#000000;
    font-family: "Montserrat", sans-serif;
    border: 2px solid white;
    padding: 20px;
    border-radius: 50px;
    background-color: #ffffff;
}
.ex {
    margin-top: 0;
    text-align: center;
}
.ex a:hover{
    opacity: 0.8;
}

@media (max-width: 1185px) {
    a button {
        font-size: 15px; 
        margin-right: 15px; 
        margin-left: 5px;
        padding: 20px;
    }
    .judulh {
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
        font-weight: bold;
        padding-left: 20px;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
    }
    .header {
        top: 0;
        width: 100%;
        font-size: 45px;
        padding-bottom: 10px;
        background-color: #00000025;
        padding-top: 0;
        margin-top: 0;
    } 
    div ul li a {
        font-family: "Montserrat", sans-serif;
        font-weight: 0;
        font-size: 15px;
        text-decoration: none;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 0px;
    }
    .judulkonten2 {
        font-size: 35px;
    }
    .logo {
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        margin-bottom: 0;
        display: block;
    }
    .logotext {
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
        font-weight: 500;
        color: #ffffff;
    }
    .footer .texticon {
        font-size: small;
        margin-right: 10%;
    }
    .footer img{
        width: 40px;
        height: 40px;
        margin-left: 50px;
    }   
    .isian {
        display: flex;
        grid-template-columns: auto auto;
        grid-gap: 5%;
        font-size: 22px;
        align-items: center;
    }
    .isian img {
        max-width: 220px;
        height: auto;
    }
    .konten {
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 10%;
        height: auto;
    }
    .ex {
        margin-top: 100px;
        margin-bottom: 200px;
    }
    .isianimage {
        margin-left: 0;
        padding-left: 0;
        grid-gap: 12px;
    }
    .isianimage img {
        justify-content: center;
        width: 120px;
        height: auto;
    }
    .isian2 img {
        max-width: 200px;
    }
    .isian2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 20px;
    }
    .logodivisi {
        height: auto;
        width: 400px;
    }
    .logotextdiv a{
        font-size: 22px;
        padding: 8px;
        border-radius: 50px;
        background-color: #ffffff;
    }
}

@media (max-width: 645px) {
    
    .logo {
        margin-top: 100px;
    }
    .footer {
        grid-gap: 2px;
    }
    .footer .texticon {
        font-size: 10px;
        margin-right: 10px;
    }
    .footer img{
        width: 20px;
        height: 20px;
        margin-left: 12px;
    }  
    .judulh {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: bold;
        padding-left: 20px;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
    }
    .header {
        top: 0;
        font-size: 18px;
        width: 100%;
        padding-bottom: 0px;
        background-color: #00000025;
        padding-top: 0;
        margin-top: 0;
    } 
    div ul li a {
        font-family: "Montserrat", sans-serif;
        font-weight: 0;
        font-size: 10px;
        text-decoration: none;
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 0px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    div ul li a:hover {
        border-radius: 4px;
    }
    a button {
        border-radius: 5px; 
        padding: 7px 16px 8px;
        align-items: center;
        font-size: 10px; 
        margin-right: 12px; 
        margin-left: 2px;
        border-style: none;
    }
    .logo {
        width: 270px;
        height: auto;
    }
    .logotext {
        font-size: 16px;
        margin-bottom: 0;
    }
    .judulkonten {
        font-size: 18px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .ex {
        margin-top: 0;
        margin-bottom: 100px;
    }
    .ex a{
        font-size: 10px;
        border-radius: 30px;
        padding: 8px;
    }
    .isianimage {
        margin-left: 0;
        padding-left: 0;
        grid-gap: 8px;
    }
    .isianimage img {
        justify-content: center;
        width: 80px;
        height: auto;
    }
    .isian {
        font-size: 16px;
    }
    .isian img {
        max-width: 160px;
        height: auto;
    }
    .isian2 img {
        max-width: 200px;
    }
    .isian3 {
        font-size: 12px;
        padding-top: 0;
    }
    .logodivisi {
        height: auto;
        width: 320px;
    }
    .logotextdiv a{
        font-size: 14px;
        padding: 5px;
        border-radius: 50px;
    }
}