body {
    background-image: url("aset/background.png");
    background-size: cover;
    background-attachment: fixed;   
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
* {
    text-decoration:none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 50px;
} 
.judulh {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-left: 20px;
    color: #ffffff;
    text-decoration: none;
}
div ul li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 30px;
}
div ul li a:hover {
    background-color: #4444448a;
    text-decoration: underline;
}
ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}
.logo {
    height: 500px;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 0;
    display: block;
}
.logotext {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;
}
.footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    background-color: #0c0c0c;
    color: #ffffff;
    padding: 10px;
    position: relative;
    bottom: 0;
}

.icon {
    width: 60px;
    height: 60px;
    margin-left: 150px;
}
.texticon {
    font-size: 21px;
    margin-left: 10px;
    margin-right: 150px;
}